@import "../../stylesheets/mixins.scss";
.pokemonCard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 45px;
  margin-bottom: 25px;
  width: 360px;
  max-height: 100%;
  min-height: 400px;
  background: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  @include for-desktop-up {
    width: 900px;
    height: 750px;
  }
  &__main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-desktop-up {
      flex-direction: row;
    }
  }
  &__pokemon-image {
    margin: 20px 20px 0px;
    width: 300px;
    height: 300px;
    border: 1px solid #006fb5;
    @include for-desktop-up {
      margin: 20px 40px 0px 20px;
    }
  }
  &__types-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    margin: 15px 0 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__types-title {
    margin: 15px 0 10px;
  }
  &__types {
    display: flex;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__type {
    padding: 10px 15px;
    width: 70px;
    border-radius: 10px;
    background: #006fb5;
    color: #fff;
    font-weight: bold;
    text-align: center;
    &::first-letter {
      text-transform: uppercase;
    }
    &_grass {
      background: #3f9609;
    }
    &_fire {
      background: #f67e0d;
    }
    &_water {
      background: #0a79be;
    }
    &_normal {
      background: #aca974;
    }
    &_flying {
      background: #5eb9b4;
    }
    &_bug {
      background: #bddd6e;
    }
    &_poison {
      background: #a819d7;
    }
    &_electric {
      background: #fffa25;
    }
    &_ground {
      background: #e2d15b;
    }
    &_fighting {
      background: #e8121a;
    }
    &_psychic {
      background: #ed0f64;
    }
    &_rock {
      background: #786b3f;
    }
    &_ice {
      background: #66d1e5;
    }
    &_ghost {
      background: #8f54a4;
    }
    &_dragon {
      background: #8b56fe;
    }
    &_dark {
      background: #604733;
    }
    &_steel {
      background: #7b8e8a;
    }
    &_fairy {
      background: #f87ea7;
    }
  }
  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__stat {
    padding: 5px;
    border: 1px solid #c1c1c1;
    &::first-letter {
      text-transform: uppercase;
    }
    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 2;
    }
    &:nth-of-type(3) {
      order: 3;
    }
    &:nth-of-type(4) {
      order: 6;
    }
    &:nth-of-type(5) {
      order: 5;
    }
    &:nth-of-type(6) {
      order: 4;
    }
  }
  &__moves {
    margin: 16px;
    width: 230px;
    @include for-desktop-up {
      width: 800px;
    }
  }
  &__moves-title {
    font-size: 24px;
  }
  &__moves-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style-type: none;
  }
  &__move {
    border-top: 1px solid #c1c1c1;
    padding-top: 5px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__pagination {
    align-self: center;
    margin-bottom: 25px;
  }
}
