@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "../components/header/header.scss";
@import "../components/pokemonList/pokemonsList.scss";
@import "../components/pokemonCard/pokemonCard.scss";
@import "../components/Pagination/pagination.scss";
@import "../components/SearchField/searchField.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../images/header_bg.png");
}
