@import "../../stylesheets/mixins.scss";
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  &__logo {
    margin-top: 10px;
    width: 230px;
    height: 100px;
    animation-duration: 3s;
    animation-name: zooming;
    animation-iteration-count: infinite;
    @include for-desktop-up {
      width: 300px;
      height: 100px;
    }
  }
}
@keyframes zooming {
  90% {
    transform: scale(1.2);
  }
}
